<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="ClassicalMusicBean"
          class="com.bouncer77.spring.learn.ClassicalMusic">
        <constructor-arg value="ClassicalMusic"/>
    </bean>

    <bean id="RockMusicBean"
          class="com.bouncer77.spring.learn.RockMusic">
        <constructor-arg value="RockMusic"/>
    </bean>

    <bean id="MusicPlayerBean"
          class="com.bouncer77.spring.learn.MusicPlayer">
        <constructor-arg ref="RockMusicBean"/>
    </bean>

</beans>